## we can do maths using python.

### Here I will write during Practice.

## 1. We can add using pyhton.

In [1]:
3 + 4

7

## 2. We can create strings

In [2]:
name = "Mark"

In [3]:
print("My name is " + name)

My name is Mark

In [4]:
ls

00.ipynb  02.ipynb  04.ipynb  06.ipynb  08.ipynb  10.ipynb
01.ipynb  03.ipynb  05.ipynb  07.ipynb  09.ipynb  class_practice.ipynb

In [3]:
name = input("Please enter your name: ")

Please enter your name:  mark

In [4]:
name

'mark'

In [5]:
print(input("Please enter your name: "))

Please enter your name:  kivu

kivu

In [6]:
print("a", "b", "c") #default separator is space sep=' '

a b c

In [7]:
print("a", "b", "c", sep='\n') #new line

a
b
c

In [8]:
print('a', 'b', 'c', sep='\t') #tab separator

a	b	c

In [9]:
with open('test.txt', 'w') as test:
    print('a', 'b', 'c', sep='\n', file=test) #if use test = open(file, w) close with test.close(). a for append

In [10]:
"""bbb""" #capture data on multiple lines

'bbb'

In [11]:
# //floor division, no point after integeter just like py2.

In [12]:
11.0**300 #out of memory, avoid floats

OverflowError: (34, 'Numerical result out of range')

In [13]:
11**300

2617010996188399907017032528972038342491649416953000260240805955827972056685382434497090341496787032585738884786745286700473999847280664191731008874811751310888591786111994678208920175143911761181424495660877950654145066969036252669735483098936884016471326487403792787648506879212630637101259246005701084327338001

In [14]:
dna="ACGTATA"

In [15]:
dna

'ACGTATA'

In [16]:
dna.count('A')

3

In [17]:
dna.lower()

'acgtata'

In [5]:
odd_num = []
for i in range(6,36):
    if i%2 != 0: # %2 not divisble by 2 without a remainder
        odd_num.append(i)
print(odd_num)

[7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35]

In [12]:
odd_num1 = []
for i in range(7, 36, 2):
    #if i/2 != 0: # %2 not divisble by 2 without a remainder
        odd_num1.append(i)
print(odd_num1)

[7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35]

In [13]:
list(range(36))[7::2]

[7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35]

In [14]:
dna = 'AAAAATCCCGAGGCGGCTATATAGGGCTCCGGAGGCGTAATATAAAAG'

In [15]:
cdna = dna.replace('A','t').replace('C','g').replace('G','c').replace('T','a')
cdna

'tttttagggctccgccgatatatcccgaggcctccgcattatattttc'

In [16]:
rna = cdna.upper().replace('T','U')
rna

'UUUUUAGGGCUCCGCCGAUAUAUCCCGAGGCCUCCGCAUUAUAUUUUC'

In [21]:
codon = []
for i in range(0,len(rna),3):
    codon.append(rna[i:i+3])
if len(codon[-1]) != 3:
    codon.pop()
codon

['UUU',
 'UUA',
 'GGG',
 'CUC',
 'CGC',
 'CGA',
 'UAU',
 'AUC',
 'CCG',
 'AGG',
 'CCU',
 'CCG',
 'CAU',
 'UAU',
 'AUU',
 'UUC']

In [19]:
x = 0
while x <= len(rna):
    print(rna[x:x+3])
    x+=3

UUU
UUA
GGG
CUC
CGC
CGA
UAU
AUC
CCG
AGG
CCU
CCG
CAU
UAU
AUU
UUC